@font-face{font-family:"Barlow Condensed";src:url("barlow-condensed-900-italic.woff") format("woff");font-weight:900;font-style:italic;font-display:swap}
@font-face{font-family:"Barlow Condensed";src:url("barlow-condensed-700-normal.woff") format("woff");font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:Rajdhani;src:url("font-4.woff") format("woff");font-weight:700;font-style:normal;font-display:swap}
